.add-product-container {
    display: flex;
    flex-direction: column;
    mat-form-field{
        width:100%;
    }
    margin-top:15px;
    height: 100%;
  }
  
  .add-product-container > * {
    width: 100%;
  }
  
  .plr0{
      padding-left: 0px;
      padding-right: 0px;;
  }